<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<form action='/admin/adicionar' method='post' enctype="multipart/form-data">
		<font color="white">
		Nome: <font color="black"> <input type='text' name='nome'> <br /> </font>
		Foto do Comunicador: <input type="file" name="arquivo" accept="image/*">
		</font>
		<input class="btn-success" type='submit'>
	</form>
	<br>
	<br>
	<br>
	<button class="btn-danger" onclick="location.href='/'"> Voltar </button><br>
	Nome comunicador: <input type="text" name="talk" id="talk">
	<button onclick="chama()">Fala!</button>
</body>
