<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
<body>
<%= @m %>
		<button class="btn-info" onclick="location.href='/listar'"> Listar Comunicadores </button>
	<br><br>
	
		<button class="btn-info" onclick="location.href='/listarProgramas'"> Listar Programas </button>
	<br><br>

</body>
</html>