<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
<body>


		<button class="btn-primary" onclick="location.href='admin/adicionar'"> Adicionar Comunicadores </button>
<br><br>

		<button class="btn-info" onclick="location.href='admin/listar'"> Listar Comunicadores </button>
	<br><br>

			<button class="btn-primary" onclick="location.href='admin/adicionarPrograma'"> Adicionar Programas </button>
	<br><br>

	
		<button class="btn-info" onclick="location.href='admin/listarProgramas'"> Listar Programas </button>
	<br><br>

</body>
</html>