<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<form action='/adicionar' method='post' enctype="multipart/form-data">
		Nome do presente: <input type='text' name='nome'> <br />
		Preço do presente: R$ <input type="number" name="preco">,00<br>
		Icone do presente: <input type="file" name="arquivo" accept="image/*">
		<input class="btn-success" type='submit'>
	</form>
	<br>
	<br>
	<br>
	<button class="btn-danger" onclick="location.href='/'"> Voltar </button><br>
</body>
